/* * {
	border: 1px solid red;
} */

a {
	color: #5E31C2 !important;
}

::selection {
	background-color: #6771E6;
	color: white;
}

:::-moz-selection {
	background-color: #6771E6;
	color: white;
}

#mainNav {
	background-color: none;
}

.navbar .nav-item .active {
	color: #5E31C2 !important;
	font-weight: bold !important;
}

.navbar .nav-item a {
	font-family: 'Quicksand', sans-serif !important;
	color: #5E31C2 !important;
	transition: .4s;

}


.navbar .nav-item a:hover {
	color: #5E31C2 !important;
}

.navbar .nav-item a {
	font-family: 'Quicksand', sans-serif !important;
	font-weight: 500 !important;
	color: #0E2A3E !important;
	text-transform: none;
	font-weight: 400 !important;
	font-size: 14px !important;
}

.navbar-brand {
	color: #0E2A3E !important;
	font-family: 'Quicksand', sans-serif !important;
	font-weight: 400;
}

.jumbotron-home {
	background-color: white;
	/* height: 700px; */
	height: 100vh;
	background-size: cover;

}

.bg-jumbotron {
	position: absolute;
	width: 50%;
	height: 100vh;
	bottom: 30px;
	top: 0;
	right: 0;
}

.people-jumbotron {
	position: relative;
	display: block;
	width: 105%;
	right: 80px;
	top: 30px;
	z-index: 999;
}

.img-registration {
	background-size: cover;
}


.intro-text-home {
	font-family: 'Quicksand', sans-serif !important;
	position: relative;
	margin-top: 250px;
}

.lead-home {
	font-family: 'Quicksand', sans-serif !important;
	color: #0E2A3E;
	font-size: 28px;
}

.display-4-home {
	font-family: 'Quicksand', sans-serif !important;
	color: #0E2A3E;
	/* font-weight: 800; */
	font-size: 45px;
}

.display-4-home2 {
	font-family: 'Lato', sans-serif !important;
	color: #0E2A3E;
	font-weight: 800;
	font-size: 50px;
}

.btn-welcome {
	font-family: 'Quicksand', sans-serif !important;
	background-color: #0E2A3E;
	font-weight: 500;
	width: 30%;
	border-radius: 50px;
	border-color: #0E2A3E !important;
}

.btn-welcome:hover {
	background-color: #0E2A3E;
	opacity: .9;
}

.btn-welcome:active,
.btn-welcome:focus,
.btn-welcome:hover {
	background-color: #0E2A3E !important;
	border-color: #0E2A3E !important;
	color: white;
}

.form-daftar {
	font-family: 'Quicksand', sans-serif !important;
}

.testimonial {
	font-family: 'Quicksand', sans-serif !important;
}

.alert {
	font-family: 'Quicksand', sans-serif !important;
}

.btn-primary {
	background-color: #0E2A3E !important;
}

.text-primary {
	color: #5E31C2 !important;
}

/* .btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
	background-color: #8D00DC !important;
} */

.btn-submit {
	font-family: 'Quicksand', sans-serif !important;
	background-color: #0E2A3E;
	font-weight: 500;
	width: 20%;
	border-radius: 50px;
	border-color: #0E2A3E !important;
}

.btn-submit:hover {
	background-color: #0E2A3E;
	opacity: .9;
}

.btn-submit:active,
.btn-submit:focus,
.btn-submit:hover {
	background-color: #0E2A3E !important;
	border-color: #0E2A3E !important;
	color: white;
}

footer {
	font-family: 'Quicksand', sans-serif !important;
}

.sosmed {
	font-size: 20px;
}

.faq {
	font-family: 'Quicksand', sans-serif !important;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
	#mainNav.navbar-shrink {
		/* background-color: #212529; */
		background-color: white;
		/* box-shadow: 1px 1px 30px 1px rgba(0, 0, 0, .1); */
		box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, .1);
	}

	.people-jumbotron {
		position: absolute;
		display: block;
		width: 65%;
		right: 0;
		left: 64px;
		top: -440px;
		bottom: 0;
	}

	.intro-text-home {
		font-family: 'Quicksand', sans-serif !important;
		position: relative;
		/* margin-top: 280px; */
		margin-top: 60vh;
		z-index: 999;
	}

	.lead-home {
		font-family: 'Quicksand', sans-serif !important;
		color: #0E2A3E;
		font-size: 20px;
	}

	.display-4-home {
		font-family: 'Quicksand', sans-serif !important;
		color: #0E2A3E;
		/* font-weight: 800; */
		font-size: 28px;
	}

	.display-4-home2 {
		color: #0E2A3E;
		font-weight: 800;
		font-size: 30px;
	}

	.btn-welcome {
		font-family: 'Quicksand', sans-serif !important;
		font-size: 20px !important;
		background-color: #0E2A3E;
		font-weight: 500;
		width: 50%;
		border-radius: 50px;
		border-color: #0E2A3E !important;
	}

	.btn-welcome:hover {
		background-color: #0E2A3E;
		opacity: .9;
	}

	.btn-welcome:active,
	.btn-welcome:focus,
	.btn-welcome:hover {
		background-color: #0E2A3E !important;
		border-color: #0E2A3E !important;
		color: white;
	}
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 991.98px) {}

@media (min-width: 992px) {

	#mainNav.navbar-shrink {
		padding-top: 0;
		padding-bottom: 0;
		/* background-color: #212529; */
		background-color: white;
		/* box-shadow: 1px 1px 30px 1px rgba(0, 0, 0, .1); */
		box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, .1);
	}
}